.nav {
    background-color: #008e5a;
    margin-bottom: -8px;
    margin-top: -1%;
    width: 100%;
}
ul{
    text-align: center;
}
li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 0;
}
li a {
    display: inline-block;
    font-family: verdana;
    color: white;
    text-align: center;
    padding: 16px;
    background-color: #008e5a;
    border-radius: 5px;
    text-decoration: none;
}
li a:hover {
    background-color: #d54d7b;
    color: white;
}
.button1{
    padding: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 5px;
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    background: #008e5a;
    color: white;
    font-family: verdana;
    border-radius: 10px;
    border:1px;
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    text-decoration: none;
}
.button2:hover{
    background-color: #d54d7b;
    color: white;
    text-decoration: none;
}
.button2{
    padding: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 5px;
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    background: #008e5a;
    color: white;
    font-family: verdana;
    border-radius: 10px;
    border:1px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.card {
  float: left;
  width: 25%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}
.button2:hover{
    background-color: #d54d7b;
    color: white;
}
.welcome {
    height: 458px;
    background-image:url("/Groningen.jpg");
    background-size: 1600px 458px;
    background-repeat:no-repeat;
}
.welcome p {
  padding-top: 10%;
  padding-bottom: 2%;
  color: white;
  font-family: verdana;
}
footer {
  margin-top: -2%;
  background-color: black;
  color:white;
}
