.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
.card {
  max-width: 25%;

}

.nav {
    background-color: #008e5a;
    margin-bottom: -8px;
    margin-top: -1%;
    width: 100%;
}
h1 {
  color: #008e5a;
  font-family: verdana;
  font-weight: bold;
}
.button1{
    padding: 5px;
    cursor: pointer;
    box-shadow: 6px 6px 5px;
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    background: #008e5a;
    color: white;
    font-family: verdana;
    border-radius: 10px;
    border:1px;
    font-size: 14px;
    text-align: center;
    margin-left: 10%;
    text-decoration: none;
}
.button1:hover{
    background-color: #d54d7b;
    color: white;
    text-decoration: none;
}
.button2{
    padding: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 5px;
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    background: #008e5a;
    color: white;
    font-family: verdana;
    border-radius: 10px;
    border:1px;
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    text-decoration: none;
}

.button2:hover{
    background-color: #d54d7b;
    color: white;
    text-decoration: none;
}
.welcome {
    height: 458px;
    background-image:url("/Groningen.jpg");
    background-size: 1600px 458px;
    background-repeat:no-repeat;
}
.welcome p {
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
  font-family: verdana;
  font-size: 18px;
}
footer {
  background-color: white;
  text-align: center;
}
.footer {
  margin-top: 2%;
  margin-bottom: 0%;
  color: #008e5a;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}
li {
    list-style-type: none;
}
.about {
  margin:auto;
  width: 60%;
  height: 100%;
  margin-top: 3%;
  border-radius: 5px;
  background-color: #80bc85;
}
.about p{
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
  color: black;
  font-weight: bold;
}
.contact {
  margin-top: -39%;
  margin-right: 5%;
  float: right;
  width: 12%;
  height: 10%;
}
h2::first-letter {
  color: white;
}
h2 {
  margin-left: 5%;
  color: #008e5a;
}
