.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
.card {
  max-width: 25%;

}

.nav {
    background-color: #008e5a;
    margin-bottom: -8px;
    margin-top: -1%;
    width: 100%;
}
h1 {
  color: #008e5a;
  font-family: verdana;
  font-weight: bold;
}
/*ul{
    text-align: center;
}
li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 0;
}
li a {
    display: inline-block;
    font-family: verdana;
    color: white;
    text-align: center;
    padding: 16px;
    background-color: #008e5a;
    border-radius: 5px;
    text-decoration: none;
}
li a:hover {
    background-color: #d54d7b;
    color: white;*/
}
.button1{
    padding: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 5px;
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    background: #008e5a;
    color: white;
    font-family: verdana;
    border-radius: 10px;
    border:1px;
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    text-decoration: none;
}
.button1:hover{
    background-color: #d54d7b;
    color: white;
}
.button2{
    padding: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 5px;
    -webkit-box-shadow: 6px 6px 5px #999;
    -moz-box-shadow: 6px 6px 5px #999;
    background: #008e5a;
    color: white;
    font-family: verdana;
    border-radius: 10px;
    border:1px;
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    text-decoration: none;
}

.card {
  float: left;
  width: 25%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}
.button2:hover{
    background-color: #d54d7b;
    color: white;
    text-decoration: none;
}
.welcome {
    height: 458px;
    background-image:url("/Groningen.jpg");
    background-size: 1600px 458px;
    background-repeat:no-repeat;
}
.welcome p {
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 2%;
  color: white;
  font-family: verdana;
  font-size: 18px;
}
footer {
  background-color: white;
  text-align: center;
}
.footer {
  margin-top: 2%;
  margin-bottom: 0%;
  color: #008e5a;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}
li {
    list-style-type: none;
}
